body {
  font-family: Arial, sans-serif;
  display: flex;
  height: 100vh;
  margin: 0;
}

#controls {
  width: 260px;
  padding: 15px;
  background: #c4c6ce;
  border-right: 2px solid #ccc;
}

label {
  display: block;
  margin-top: 10px;
  font-weight: bold;
}

input,
select {
  width: 90%;
  height: 22px;
  border-radius: 10px;
  border: 2px solid black;
}

button {
  margin-top: 10px;
  width: 100%;
  padding: 8px;
  border-radius: 10px;
  background: white;
}

#canvas-container {
  flex: 1;
  background: #d9dbe4;
  padding: 20px;
  /* outer margin around canvas */
  box-sizing: border-box;
}

canvas {
  background: white;
  border: 1px solid black;
  display: block;
}